body{
	background-image: url("../images/newbg.jpg");
	background-size: 1900px 900px;
	background-repeat: no-repeat;
	font-family: 'Merriweather', cursive;
}

h1 {
	color: black;
	font-size: 70px;
	font-weight: bold;
	margin-bottom: 0;
}

h2 {
	color: yellow;
	font-size: 30px;
	margin-top:0;
}

.bio {
	color: black;
	font-size: 25px;
}
.me {
	height: 250px;
	border-radius: 100%;
	border-style: solid;
	border-color: blue;
	margin-top: 10px;
}

#container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}